# Purpose
This notebook creates a baseline model as a point of reference for future model iterations. This model predicts the total number of significant strikes landed given two fighters average significant strikes landed in all of their previous bouts.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

### Import and split

In [2]:
data = pd.read_csv('../../data/model_5_data.csv', index_col=0)
data.head()

,fa3_asss_0,fa3_assa_0,fa3_assde_0,fa3_assdi_0,fa3_asss_1,fa3_assa_1,fa3_assde_1,fa3_assdi_1,ca_asss_0,ca_assa_0,ca_assde_0,ca_assdi_0,ca_asss_1,ca_assa_1,ca_assde_1,ca_assdi_1,casss_bout
0,9.800000,0.281351,0.543474,1.200000,7.750000,0.601620,0.563305,0.750000,9.800000,0.281351,0.543474,1.200000,7.750000,0.601620,0.563305,0.750000,18.000000
1,12.900000,0.716091,0.546091,7.700000,6.666667,0.359259,0.561818,-14.333333,12.900000,0.716091,0.546091,7.700000,6.666667,0.359259,0.561818,-14.333333,10.333333
2,11.954545,0.319309,0.487594,-2.545455,21.444444,0.814489,0.667550,14.666667,11.954545,0.319309,0.487594,-2.545455,21.444444,0.814489,0.667550,14.666667,19.000000
3,7.666667,0.486772,0.775809,2.333333,18.111111,0.271754,0.673899,2.666667,7.666667,0.486772,0.775809,2.333333,18.111111,0.271754,0.673899,2.666667,60.000000
4,20.636364,0.408337,0.647542,15.090909,11.222222,0.460897,0.498367,-0.777778,20.636364,0.408337,0.647542,15.090909,11.222222,0.460897,0.498367,-0.777778,29.600000

In [3]:
X = data.drop('casss_bout', axis=1)
y = data.casss_bout

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1)

### Preprocessing

In [5]:
ss = StandardScaler()
X_train_ss = ss.fit_transform(X_train)
X_test_ss = ss.transform(X_test)

In [6]:
poly = PolynomialFeatures(2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

### Modelling

In [7]:
rfr = RandomForestRegressor(max_depth=5, max_features='sqrt')
cross_val_score(rfr, X_train_poly, y_train)

array([0.14899961, 0.12235528, 0.190147  , 0.10384161, 0.18636737])

In [8]:
rfr.fit(X_train_poly, y_train)

RandomForestRegressor(max_depth=5, max_features='sqrt')

### Evaluation

In [9]:
rfr.score(X_test_poly, y_test)

0.141280261748571

In [16]:
pd.DataFrame({'model_predictions': list(rfr.predict(X_test_poly)[:15]), 'actual_results': list(y_test[:15])})

    model_predictions  actual_results
0           24.928514       16.666667
1           22.366089       20.000000
2           24.927155       27.500000
3           32.336851       16.000000
4           23.854803       11.333333
5           20.418396       19.500000
6           34.887990       35.000000
7           23.585006       18.666667
8           20.051650       15.000000
9           31.475573       31.666667
10          25.217850       15.666667
11          19.752915        5.000000
12          26.508809       23.000000
13          25.587945       16.666667
14          25.156877       21.000000