# Purpose
This notebook creates a baseline model as a point of reference for future model iterations. This model predicts the total number of significant strikes landed given two fighters average significant strikes landed in all of their previous bouts.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import PoissonRegressor
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

### Import and split

In [2]:
data = pd.read_csv('../../data/model_6_data.csv', index_col=0)
data.head()

,fa3_assa_m_0,fa3_assa_m_1,fa3_assde_0,fa3_assde_1,fa3_assdi_0,fa3_assdi_1,ca_assa_m_0,ca_assa_m_1,ca_assde_0,ca_assde_1,ca_assdi_0,ca_assdi_1,cssa_m
0,5.455385,7.340394,0.543474,0.563305,1.200000,0.750000,5.455385,7.340394,0.543474,0.563305,1.200000,0.750000,8.466667
1,4.478891,3.733333,0.429391,0.561818,8.857143,-14.333333,5.235224,3.733333,0.546091,0.561818,7.700000,-14.333333,5.962500
2,9.102954,7.966498,0.465318,0.707744,-3.000000,17.800000,8.788065,7.832834,0.487594,0.667550,-2.545455,14.666667,7.114625
3,3.200000,12.805102,0.775809,0.642872,2.333333,-0.714286,3.200000,12.864367,0.775809,0.673899,2.333333,2.666667,27.073171
4,14.315380,5.758914,0.788792,0.650062,17.333333,4.800000,11.630700,5.500106,0.647542,0.498367,15.090909,-0.777778,12.640000

In [3]:
X = data.drop('cssa_m', axis=1)
y = data.cssa_m

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1)

### Preprocessing

In [5]:
ss = StandardScaler()
X_train_ss = ss.fit_transform(X_train)
X_test_ss = ss.transform(X_test)

### Modelling

In [6]:
pr = PoissonRegressor()
cross_val_score(pr, X_train_ss, y_train, scoring='r2')

array([ 0.09371009,  0.03902602,  0.07578138,  0.11588776, -0.02362877])

In [7]:
pr.fit(X_train_ss, y_train)

PoissonRegressor()

### Evaluation

In [8]:
y_hat = pr.predict(X_test_ss)

In [9]:
r2_score(y_test, y_hat)

0.00899882717609235

In [10]:
pr.coef_

array([ 0.04243231,  0.042386  , -0.02413174, -0.01085946, -0.00867346,
       -0.02739786,  0.07692392,  0.05923513,  0.01024599,  0.01579637,
       -0.0171621 , -0.00644014])

### Min-Max Scaling

### Preprocessing

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
mm = MinMaxScaler()
X_train_mm = mm.fit_transform(X_train)
X_test_mm = mm.transform(X_test)

### Modelling

In [13]:
pr = PoissonRegressor()
cross_val_score(pr, X_train_mm, y_train, scoring='r2')

array([0.03693511, 0.02298768, 0.02789067, 0.03529319, 0.02521669])

In [14]:
pr.fit(X_train_mm, y_train)

PoissonRegressor()

### Evaluation

In [15]:
y_hat = pr.predict(X_test_mm)

In [16]:
r2_score(y_test, y_hat)

0.021749850465480947

In [17]:
pr.coef_

array([ 0.13669642,  0.12980714, -0.00181204, -0.00069856,  0.00156638,
       -0.00645582,  0.13308088,  0.1247823 ,  0.01239594,  0.01407053,
        0.00114242, -0.00029429])

In [19]:
pd.DataFrame({'model_predictions': list(pr.predict(X_test_mm)[:20]), 'actual_results': list(y_test[:20])})

    model_predictions  actual_results
0           16.647660       10.712987
1           17.198392       26.800000
2           16.317278       12.680000
3           16.562078       11.466667
4           16.377357       12.866667
5           16.525306       18.280000
6           16.283232       10.400000
7           16.994397       20.816327
8           17.089978       16.333333
9           17.718801       40.000000
10          15.382668       17.264516
11          17.311946       29.090909
12          17.461020       28.972289
13          16.544362        0.512766
14          15.849600        9.800000
15          16.310474       16.733333
16          16.736924       50.000000
17          17.005145       16.875000
18          16.407152       14.534161
19          15.754288       24.200000