# Purpose
This notebook creates a baseline model as a point of reference for future model iterations. This model predicts the total number of significant strikes landed given two fighters average significant strikes landed in all of their previous bouts.

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

### Import and split

In [9]:
data = pd.read_csv('../../data/model_6_data.csv', index_col=0)
data.head()

,fa3_assa_m_0,fa3_assa_m_1,fa3_assde_0,fa3_assde_1,fa3_assdi_0,fa3_assdi_1,ca_assa_m_0,ca_assa_m_1,ca_assde_0,ca_assde_1,ca_assdi_0,ca_assdi_1,cssa_m
0,5.455385,7.340394,0.543474,0.563305,1.200000,0.750000,5.455385,7.340394,0.543474,0.563305,1.200000,0.750000,8.466667
1,4.478891,3.733333,0.429391,0.561818,8.857143,-14.333333,5.235224,3.733333,0.546091,0.561818,7.700000,-14.333333,5.962500
2,9.102954,7.966498,0.465318,0.707744,-3.000000,17.800000,8.788065,7.832834,0.487594,0.667550,-2.545455,14.666667,7.114625
3,3.200000,12.805102,0.775809,0.642872,2.333333,-0.714286,3.200000,12.864367,0.775809,0.673899,2.333333,2.666667,27.073171
4,14.315380,5.758914,0.788792,0.650062,17.333333,4.800000,11.630700,5.500106,0.647542,0.498367,15.090909,-0.777778,12.640000

In [10]:
X = data.drop('cssa_m', axis=1)
y = data.cssa_m

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1)

### Preprocessing

In [12]:
ss = StandardScaler()
X_train_ss = ss.fit_transform(X_train)
X_test_ss = ss.transform(X_test)

### Modelling

In [13]:
rfr = RandomForestRegressor()
cross_val_score(rfr, X_train_ss, y_train, scoring='r2')

array([0.02488076, 0.08309399, 0.06789437, 0.07430379, 0.00943178])

In [15]:
rfr.fit(X_train_ss, y_train)

RandomForestRegressor()

### Evaluation

In [16]:
y_hat = rfr.predict(X_test_ss)

In [17]:
r2_score(y_test, y_hat)

0.02929498937484476

In [18]:
pr.coef_

array([ 0.04243231,  0.042386  , -0.02413174, -0.01085946, -0.00867346,
       -0.02739786,  0.07692392,  0.05923513,  0.01024599,  0.01579637,
       -0.0171621 , -0.00644014])

### Min-Max Scaling

### Preprocessing

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
mm = MinMaxScaler()
X_train_mm = mm.fit_transform(X_train)
X_test_mm = mm.transform(X_test)

### Modelling

In [22]:
rfr = RandomForestRegressor()
cross_val_score(rfr, X_train_mm, y_train, scoring='r2')

array([0.04359711, 0.06609176, 0.06109558, 0.06838054, 0.03687391])

In [23]:
rfr.fit(X_train_mm, y_train)

RandomForestRegressor()

### Evaluation

In [24]:
y_hat = rfr.predict(X_test_mm)

In [25]:
r2_score(y_test, y_hat)

0.02433897947680408

In [26]:
pr.coef_

array([ 0.04243231,  0.042386  , -0.02413174, -0.01085946, -0.00867346,
       -0.02739786,  0.07692392,  0.05923513,  0.01024599,  0.01579637,
       -0.0171621 , -0.00644014])

In [27]:
pd.DataFrame({'model_predictions': list(rfr.predict(X_test_mm)[:20]), 'actual_results': list(y_test[:20])})

    model_predictions  actual_results
0           14.960986       10.712987
1           24.123419       26.800000
2           15.414985       12.680000
3           17.788704       11.466667
4           18.314365       12.866667
5           16.526300       18.280000
6           25.941638       10.400000
7           21.038016       20.816327
8           23.489481       16.333333
9           11.090177       40.000000
10          10.728336       17.264516
11          19.248595       29.090909
12          23.530408       28.972289
13          17.719132        0.512766
14          14.368266        9.800000
15          15.285392       16.733333
16          18.082991       50.000000
17          23.480579       16.875000
18          16.753885       14.534161
19          15.567668       24.200000